/* Import the fonts from google font */
@import url("https://fonts.googleapis.com/css?family=Dosis:500|Tajawal:500&display=swap&subset=arabic");

/* Setting the variables for the colors */
:root {
  --main-color: #65a9d2;
  --main-trans: rgba(06, 81, 126, 0.65);
  
  --secondary-color: #b5daf0;
  --light-color: #eaf0ff;
  --black-color: #00120b;
}
/* Reset the margin and the padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Setting the font for the body and the arabic text */
body {
  font-family: "Dosis", sans-serif;
  background: var(--secondary-color);
}
p[dir="rtl"] {
  font-family: "Tajawal", sans-serif;
  
}
  
/* Making the images take a width of a 100% of its container and change it to a block */
img {
  width: 100%;
  max-height: 75%;
  object-fit: scale-down;
  display: block;
  margin: 1rem auto 0 auto;
  
}
/* Removed bullet points */
ul {
  list-style: none;
}
/* Styled the header */
header {
  background: var(--main-color);
  box-shadow: inset 0 -0.5px var(--main-trans);
}

/* Styled the Main title in the header */
h1 {
  text-align: center;
  padding: 2rem 0;
  font-size: 5rem;
  color: var(--light-color);
  text-shadow: 3px 5px 10px var(--black-color);
}
/* Styled the subheader */
h2 {
  text-align: left;
  margin: 0 0 1rem 1rem;
  font-size: 2.5rem;
  padding: 1rem;
  color: var(--black-color);
  text-shadow: 5px 5px 5px var(--main-trans);
}
/* Styled the title of the drone */
h3 {
  text-align: center;
  text-transform: uppercase;
}
/* Made the section a wrapper in the middle - so it does not span the whole screen */
section {
  max-width: 1200px;
  margin: 1rem auto;
  overflow: hidden;
  padding: 1rem 2rem;
}
/* Style the card with the drone */
.grid-item {
  position: relative;
  background: #ffffff;
  overflow: hidden;
  padding: 10px;
  margin: 0.5rem;
  height: 50vh;
  max-height: 400px;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 5px var(--black-color);
  transition: all 0.5s ease-in;
}
/* Floated the cards for the first grid only */
#grid-floats .grid-item {
  float: left;
}
/* Made an overlay on which the text should appear */
.grid-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background: var(--main-trans);
  transition: all 0.5s ease-in;
  transition-delay: 0.3s;
}
/* The hover of the overlay */
.grid-item:hover:after {
  height: 60%;
  /* z-index: 3; */
}
/* The hover of the card itself */
.grid-item:hover {
  transform: scale(1.1);
  z-index: 1;
}
/* The hover of the text */
.grid-item:hover > p {
  transform: scaleX(1);
  opacity: 1;
  z-index: 2;
}
  
/* Styling & positioning the text */
.grid-item p {
  position: absolute;
  top: 40%;
  padding: inherit;
  overflow: hidden;
  color: var(--light-color);
  text-align: center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.7s;
}
/* The width of the first element */
 .grid-item:nth-child(1) {
  width: calc(50% - 1rem);
}
/* The width of the rest of the elements - starting from 2 */
 .grid-item:nth-child(n + 2) {
  width: calc(25% - 1rem);
}

/*  A clear fix after the floats (source: css-tricks) */
#grid-floats:after {
  content: "";
  display: table;
  clear: both;
}
/* ----------------------------------------------------------------------------- */
/* The flex Grid */
#grid-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* Media queries for tablets */
@media (max-width: 1023px) and (min-width: 600px) {
  /* Shrunk the height a bit and decreased the margin */
  .grid-item {
    height: 45vh;
    margin: 10px 5px;
  }
  /* The width of the first two elements */
  .grid-item:nth-child(-n + 2) {
    width: calc(50% - 10px);
  }
  /* The width of the rest of the elements starting from third */
  .grid-item:nth-child(n + 3) {
    width: calc(33.3% - 10px);
  }
  /* Adjusted the position of the text & the overlay */
    .grid-item p {
    top: 45%;
  }
    .grid-item:hover:after {
    height: 55%;
  }
}

/* Media queries for phones */
@media (max-width: 600px) {
  
  
  /* Decreased the margin */
  .grid-item:nth-child(n) {
    /* margin: 5px; */
    width: calc(100% - 1rem);
    height: 40vh;
  }
  /* The position of the overlay & the text of the first element */
  .grid-item > p {
    top: 30%;
  }
  .grid-item:hover:after {
    height: 100%;
  }
  /* Decreased the font size*/
  .grid-item:nth-child(n) > p {
  font-size: 0.9rem;
  }
  
  /* The position of the overlay & text of the rest of the elements so it covers the whole card to fit the text */
  /* .grid-item p {
    top: 6%;
  } */
  /* .grid-item:hover:after {
    height: 100%;
  } */
  /* The width of the first element */
  /* .grid-item:nth-child(1) {
    width: calc(100% - 10px);
  } */
  /* The width of the rest of the elements */
  /* .grid-item:nth-child(n + 2) {
    width: calc(50% - 10px);
  } */
  /* Decreased the height of the card & the padding for the elements starting from 2 */
  /* .grid-item:nth-child(n+2) {
  height: 30vh;
  min-height: 180px;
  padding: 0.5rem;
  } */
} 
  

/* Experimental - added a landscape query just to adjust for phones in landscape mode (Can be removed */
@media (max-height: 600px) and (orientation: landscape){
  .grid-item:nth-child(n) {

    height: 60vh;
  }
    .grid-item:nth-child(n) > p {
    font-size: 0.7rem;
  }
} 
